<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What would you do?</title>
  </head>
  <body>
    <div id="app">
      <p v-if="charactersList.length === 0">There are is not caracthers</p>
      <ul v-else>
        <li v-for="character in charactersList">{{character.name}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          charactersList: [
            { name: "John" },
            { name: "Eted" },
            { name: "Roaman" },
            { name: "Emanuel" },
          ],
        }),
      }).mount("#app");
    </script>
  </body>
</html>
