<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What would you do?</title>
  </head>
  <body>
    <div id="app">
      <p v-if="charactersList.length === 0">There are is not caracthers</p>
      <ul v-else>
        <li v-for="character in charactersList">
          <p>
            {{character.name}}
            <button @:click="addFavouriteCharacters(character.name)">
              Favourite
            </button>
          </p>
        </li>
      </ul>
      <hr />
      <h2>This is favourite characters</h2>
      <ul v-if="favourteCharacter.length > 0">
        <li v-for="favCharacter of favourteCharacter">{{favCharacter}}</li>
      </ul>
      <p v-else>There are not fav characters yet.</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          charactersList: [
            { name: "John" },
            { name: "Eted" },
            { name: "Roaman" },
            { name: "Emanuel" },
          ],
          favourteCharacter: [],
        }),
        methods: {
          addFavouriteCharacters(character) {
            console.log(character);
            this.favourteCharacter.push(character);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
